.layout {
    margin: 40px 0;
    border-left: 1px solid rgba(0,0,0,0.1);
    margin-left: 102px;
    height: 100vh;

    .ellipse-1 {
        width: 21px;
        height: 15px;
        margin-left: 34px;
        background: #E7AB11;
        transform: rotate(9.53deg);
        display: block;
    }
    .ellipse-2 {
        width: 22px;
        height: 22px;
        margin-left: 44px;
        background: #EE6363;
        display: block;
    }
    .ellipse-3 {
        width: 21px;
        height: 15px;
        margin-left: 45px;
        background: #12B1B1;
        transform: rotate(9.53deg);
        display: block;
    }
}

@media screen and(max-width: 798px) {
    .layout {
        margin-left:0;
        border:0;
    }
}

