.layout {
    margin: 40px 0 0;
    margin-right: 30px;
    padding-left: 40px;
}

@media screen and(max-width: 767px) {
    .layout {
        padding-left: 30px;
    }
}


@media screen and(min-width: 768px) and (max-width: 1023px) {
    main {
        margin-left:70px;
    }
  }
  
  
@media screen and(max-width: 767px) {
    main {
        margin-left: 50px;
    }
}