.video__container {
    position: relative;
    form {
        width: 360px;
        margin: 50px auto;
        color: #000000;
    }
    .form-control {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        position: relative;

        &:first-child {
            margin-top: 0;
        }
    }
    .form-control-btn {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    label {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 6px;
    }
    .video-form-input {
        border-radius: 6px;
        height: 40px;
        padding: 8px 15px;
        border: 1px solid #5C90F3;
        font-size: 15px;
        line-height: 22px;
        font-weight: 500;
    }
    .video-form-button {
        border-radius: 6px;
        background: #46B13D;
        outline: 0;
        border: 0;
        color: white;
        padding: 6px 20px;
        font-size: 14px;
        line-height: 21px;
    }
    .existing-user {
        font-size: 13px;
        line-height: 19px;
        color: #222222;
        margin-top: 63px;
        text-align: center;

        .login {
            text-decoration: none;
        }
    }
    .password-strength,
    .forgot-password {
        font-size: 12px;
        line-height: 18px;
        position: absolute;
        right: 0;
    }
    .forgot-password {
        color: #3860AD;
        text-decoration: none;
    }
    .err-text {
        color: red;
        padding-top: 3px;
        font-size: 12px;
    }
}

@media screen and(max-width: 767px) {
    .video__container {
        form {
            max-width: 360px;
            width: auto;
        }
    }
}
