.video-signup-form__container {
    position: relative;
    h1 {
        color: #222222;
        font-size: 22px;
        line-height: 33px;
        font-weight: 500;
        margin-left: 40px;
    }
    form {
        width: 360px;
        margin: 0 auto;
        color: #000000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .form-control {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        position: relative;

        &:first-child {
            margin-top: 0;
        }
    }
    .form-control-btn {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    label {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 6px;
    }
    .video-signup-input {
        border-radius: 6px;
        height: 40px;
        padding: 8px 15px;
        border: 1px solid #5C90F3;
        font-size: 15px;
        line-height: 22px;
        font-weight: 500;
    }
    .video-signup-button {
        border-radius: 6px;
        background: #46B13D;
        outline: 0;
        border: 0;
        color: white;
        padding: 6px 20px;
        font-size: 14px;
        line-height: 21px;
    }
    .existing-user {
        font-size: 13px;
        line-height: 19px;
        color: #222222;
        margin-top: 63px;
        text-align: center;

        .login {
            text-decoration: none;
        }
    }
    .password-strength {
        font-size: 12px;
        line-height: 18px;
        position: absolute;
        right: 0;
    }
    .err-text {
        color: red;
        padding-top: 3px;
        font-size: 12px;
    }
}

@media screen and(max-width: 798px) {
    .video-signup-form__container {
        h1 {
            margin-left: 30px;
        }
        form {
            transform: unset;
            margin-left: 30px;
            margin-right: 30px;
            max-width: 360px;
            width: auto;
            position: unset;
        }
    }
}