.plan-details__conatiner {
    display: flex;
    margin-top: 75px;

    > div {
        margin-left: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 260px;
        padding: 24px;
        &:first-child {
            margin-left: 0;
        }
        &:nth-child(3) {
            background: #46B13D;
            border-radius: 10px;

            h2,
            ul, 
            .price{
                color: white;
            }

            button {
                background: #46B13D;
                color: #1C7714;
            }
        }
    }

    h2 {
        margin: 0;
        font-size: 22px;
        line-height: 33px;
        color: #222222;
        font-weight: 600;
    }

    ul {
        list-style-type: none;
        margin: 20px 0 0;
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;
        color: #333333;
        padding-left: 0;

        li {
            padding-top: 12px;
            position: relative;
            padding-left: 20px;
            &:before {
                content: '✓';
                position: absolute;
                left: 0;
            }
            &:first-child {
                padding-top: 0;
            }
        }
    }

    .price {
        margin: 12px 0 0;
        font-size: 30px;
        line-height: 45px;
        color: #181059;
        font-weight: 700;
    }

    button {
        background: #EBF2FF;
        border-radius: 6px;
        padding: 12px 58px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #3860AD;
        margin-top: 12px;
        border: none;
    }
}